.App-header {
  margin: 45px;
  text-align: center;
  font-size: 68px;
  font-family: "Cookie", cursive, Cambria, Cochin, Georgia, Times,
    "Times New Roman", serif;
}

.App-footer {
  text-align: center;
  margin: 55px 0;
}
