.Dictionary input {
    line-height: 30px;
    position: relative;
    top: 2px;
    width: auto;
}

.Dictionary .searchBar {
    text-align: center;
    padding: 19px;
    display: block;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.Dictionary section {
  background-color: #272727;
  margin: 0 auto;
  margin-bottom: 50px;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.0.2), 0 6px 6px rgba(0, 0, 0, 0.0.5);
  color: #FFFFFF;
  width: 85%;
  transition: 2s;
  line-height: 17px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.Dictionary section:hover {
  background-color: #222222;
  transform: scale(1.04);
  color: #c8b2e0;
  box-shadow: 5px 10px 15px rgba(20, 20, 20, 0.4);
}